export(sutra_spatial)
export(sutra_stagewise)
export(sutra_simulate)
export(sutra_semivariogram)
export(sutra_compare_weighting)
export(sutra_condition)
S3method(print, sutra_stage1)
S3method(print, sutra_stage2)
importFrom(stats, as.formula, var, sd, rnorm, runif, model.matrix, cov2cor)
importFrom(methods, is)
importFrom(MASS, ginv)
importFrom(SpATS, PSANOVA, SpATS, getHeritability, predict.SpATS)
